
params {

    output_dir = '/research_jude/rgs01_jude/groups/jxugrp/home/common/Data_Public/TARGET_AML/output/'

    genomeDir = '/home/whu78/WenhuoHu/genomes/t2t/star_index_2_7_11'
    GTF_FILE = '/home/whu78/WenhuoHu/genomes/t2t/hs1.ncbiRefSeq.gtf'
    TE_GTF_FILE = '/home/whu78/WenhuoHu/genomes/t2t/T2T_CHM13_v2_rmsk_TE.gtf'
    TE_loc_GTF_FILE = '/home/whu78/WenhuoHu/genomes/t2t/T2T_CHM13_v2_rmsk_TE.gtf.locInd'
    GDC_TOKEN = '/home/whu78/gdc-user-token.2024-11-13T04_56_35.590Z.txt'  // Set the path to your GDC token file
    meta_file = '/research_jude/rgs01_jude/groups/jxugrp/home/common/Data_Public/TARGET_AML/test_nf.tsv'
    samplesheet = 'samplesheet.csv'
    
    img_samtools = '/home/whu78/images/depot.galaxyproject.org-singularity-samtools-1.21--h50ea8bc_0.img'
    img_star = '/home/whu78/images/nf-core-star_samtools_htslib_gawk-10c6e8c834460019.img'
    img_tecount = '/home/whu78/images/tetranscripts.sif' 
    img_telocal = '/home/whu78/images/telocal.sif' 
    img_gdc = '/home/whu78/images/gdc-client_latest.sif' 

    igenomes_base   = '/home/whu78/igenomes'
    cpus            = 4 
    max_cpus        = 28
    max_memory      = 128.GB
    max_time        = 240.h
    single_cpu_mem  = 5.GB

    save_reference  = true

    genomes {
      'GRCh38' {
        fasta                = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
        gtf                  = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf" 
      }
      'mm10' {
        fasta                = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
        gtf                  = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf" 
      }
    }

}


process {

    executor  = 'lsf'

    cleanup = true

    withName: 'sortBamByQueryName' {
        cpus = 10       
        memory = '8 GB'
        time = '10d'   
        //container = params.img_samtools
    }

    withName: 'bamToFastq' {
        cpus = 10       
        memory = '8 GB'
        time = '10d'   
        //container = params.img_samtools
    }

    withName: 'starAlignment' {
        cpus =30 
        memory = '5 GB'
        time = '240h'
        //container = params.img_star
    }

    withName: 'teCountProcess' {
        cpus = 10 
        memory = '5 GB'
        time = '10d'
        //container = params.img_tecount
    }

    withName: 'teLocalProcess' {
        cpus = 10 
        memory = '5 GB'
        time = '10d'
        //container = params.img_telocal
    }

}

trim_pattern = '_+S\\d+'

profiles {

  singularity {
      enabled = true
      autoMounts = true
      runOptions = "--bind $PWD"


  }

}
